/*
        Capstone project
        24Hours
        Authors: Gisselle Morales, Mason Roberts, Marco Tapia, Denise Son
        Date: May 15, 2017

        Filename: about.css
*/

/*styles for the animation in the background*/

@keyframes background {
    0% {
        background-image: url("images/boy.jpg");
    }
    25% {
        background-image: url("images/city1.jpg");
    }
    50% {
        background-image: url("images/brick.jpg");
    }
    75% {
        background-image: url("images/watchback2.jpg");
    }
    100% {
        background-image: url("images/boy.jpg");
    }
}
.inner{
  background-color: #91bed8;
  margin-top: 20%;

}
html {
    animation-name: background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-size: cover;
}

body {
    background-image: none;
    padding-bottom: 100px;
}


/*changes to th footer styles*/

.footer {
    color: white;
}

footer {
    color: white;

}


/* Styles that came with the template and still look good*/

*, *:before, *:after {
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 70vh;
}

#main>.inner {
    padding: 3rem 2.375rem;
    max-width: 100%;
    width: 46rem;
}

#text03 br+br {
    margin-top: 1.2rem;
}


/*Font editing*/

#text03 {
    letter-spacing: 0.275rem;
    width: calc(100% + 0.275rem);
    font-size: 0.625em;
    line-height: 2;
    font-weight: 300;
}

h1, h2, h3, p {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Oxygen';
    letter-spacing: 0.45rem;
    width: calc(100% + 0.45rem);
    font-size: 1.375em;
    line-height: 1.375;
    font-weight: 700;
}

/*media query concerning font in about page and the background*/

@media (max-width: 1030px) {
  .inner {
    margin: auto;
    font-size: 25px;
    margin-top: none;
  }

  #text02 {
    font-size: 50px;
  }

  #text03 {
    font-size: 30px;
  }

  @keyframes background {
      0% {
          background-image: none;
      }
      25% {
          background-image: none;
      }
      50% {
          background-image: none;
      }
      75% {
          background-image: none;
      }
      100% {
          background-image: none;
      }
  }

  body {
    background-color: #36454f;
  }
}
