@keyframes background {
  0% {background-image: url("images/boy.jpg");}
  25% {background-image: url("images/city1.jpg");}
  50% {background-image: url("images/brick.jpg");}
  75% {background-image: url("images/watchback2.jpg");}
  100% {background-image: url("images/boy.jpg");}
}

body {
    padding-top: 50px;
    /*animation-name: background;
    animation-duration: 10s;
    animation-iteration-count: infinite;*/
    background-image: url("images/boy.jpg");
    background-size: 100%;
}

/*the main div that surrounds the index page*/
div.primary {
    width: 80%;
    /*border: 1px solid black;*/
    padding: 25px;
    margin: auto;
    height: 2500%;
    /*background-color: #FFFF;*/
}

.num {
  /*border: 1px solid black;*/
  text-align: center;
  font-size: 2200%;
}

.bx {
  text-align: center;
  padding: 5px;
  margin-top: 5em;
  /*border: 2px solid black;*/
}

/*the main div that surrounds the index page*/
div.primary {
    width: 71%;
    /*border: 1px solid black;*/
    padding: 25px;
    margin: auto;
}

.num {
  /*border: 1px solid black;*/
  text-align: center;
  font-size: 2200%;
}

/*the css for the 4 boxes linking to the 4 product pages;*/
.bx {
  text-align: center;
  padding: 5px;
  margin-top: .2em;
  padding-top: 45px;
  font-size: 30px;
  margin-bottom: 1em;
  border: 2px solid black;
  height: 5em;
  background-color: #F4F4F4;
}

.bx2 {
  text-align: center;
  padding: 5px;
  padding-top: 45px;
  font-size: 30px;
  margin-top: 1em;
  border: 2px solid black;
  height: 5em;
  background-color:  #F4F4F4;
}

a {
  color: black;
}

.hours {
  padding-left: 11em;
  /*border: 1px solid black;*/
  font-size: 50px;
  letter-spacing: 15px;
}
