body {
    padding-top: 70px;
}
/*the main div that surrounds the index page*/
div.primary {
    width: 80%;
    border: 1px solid black;
    padding: 25px;
    margin: auto;
    height: 2500%;
}

.num {
  /*border: 1px solid black;*/
  text-align: center;
  font-size: 2200%;
}

.bx {
  text-align: center;
  padding: 5px;
  margin-top: 5em;
  border: 2px solid black;

}
