/*
        Capstone project
        24Hours
        Authors: Gisselle Morales, Mason Roberts, Marco Tapia, Denise Son
        Date: May 15, 2017

        Filename: pay.css
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);

/*styles for the animation in the background*/

@keyframes background {
    0% {
        background-image: url("images/boy.jpg");
    }
    25% {
        background-image: url("images/city1.jpg");
    }
    50% {
        background-image: url("images/brick.jpg");
    }
    75% {
        background-image: url("images/watchback2.jpg");
    }
    100% {
        background-image: url("images/boy.jpg");
    }
}

html {
    animation-name: background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-size: cover;
}

/*begining of general styles*/

body {
    padding: 60px 0px;
    margin: 0 auto;
    width: 600px;
}

.body-text {
    padding: 0 20px 30px 20px;
    font-family: "Roboto";
    font-size: 1em;
    color: #fff;
    text-align: center;
}

.form-container {
    width: 100%;
}

.card-wrapper {
    background-color: #91bed8;
    padding: 10px 0px;
    width: 100%;
}


/*styles for personal information*/

.personal-information {
    background-color: #91bed8;
    color: #fff;
    padding: 1px 0px;
    text-align: center;
}

h1 {
    font-size: 1.3em;
    font-family: "Roboto";
}

input {
    margin: 1px 0px;
    padding-left: 3%;
}

input[type="text"] {
    display: block;
    height: 50px;
    width: 97%;
    border: none;
}

input[type="email"] {
    display: block;
    height: 50px;
    width: 97%;
    border: none;
}


/*credit card information styles*/

input[type="submit"] {
    display: block;
    height: 60px;
    width: 100%;
    border: none;
    background-color: #91bed8;
    color: #fff;
    margin-top: 2px;
    cursor: pointer;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #6FB7E9;
    transition: 0.3s ease;
}

#column-left {
    width: 46.8%;
    float: left;
    margin-bottom: 2px;
}

#column-right {
    width: 46.8%;
    float: right;
}


/*footer styles*/


/*changes the footer for the copyright*/

footer {
    color: white;
    font-family: orator std;
    letter-spacing: 8px;
}


/*changes the color of the about us and contact us linkes*/

.footer {
    color: white;
    font-family: orator std;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
}


/*media queries*/

@media only screen and (max-width: 1200px) {
    body {
        width: 100%;
    }
    .form-container {
        width: 100%;
    }
    h1 {
        font-size: 1.2em;
    }
    input {
        margin: 2px 0px;
    }
    #input-field {
        width: 97%;
    }
    input[type="text"] {
        height: 40px;
    }
    input[type="email"] {
        height: 40px;
    }
    input[type="submit"] {
        height: 50px;
    }
    #column-left {
        width: 97%;
        display: block;
        float: none;
    }
    #column-right {
        width: 97%;
        display: block;
        float: none;
    }
    #input-button {
        width: 100%;
    }

    body {
      background-image: none;
      background-color: #36454f;
    }

    @keyframes background {
        0% {
            background-image: none;
        }
        25% {
            background-image: none;
        }
        50% {
            background-image: none;
        }
        75% {
            background-image: none;
        }
        100% {
            background-image: non;
        }
    }
}

@media (min-width: 1550px) {

}
