<<<<<<< HEAD
=======

<<<<<<< HEAD
=======
body {
  padding: 10px;
}

>>>>>>> 7085714e53a54f33dd95a8373d8efd3598fdcf1a
>>>>>>> 094223d0205b63d785b89283a25354ff1f271dde
/*start of basic CSS */

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control, .item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 10px;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
/*End of basic CSS*/
<<<<<<< HEAD
=======

/*the main div that surrounds the index page*/
div.primary {
    width: 80%;
    border: 1px solid black;
    padding: 25px;
    margin: auto;
}

.num {
  /*border: 1px solid black;*/
  text-align: center;
  font-size: 2200%;
}

/*the css for the 4 boxes linking to the 4 product pages;*/
.bx {
  text-align: center;
  padding: 5px;
  margin-top: 1.5em;
  padding-top: 45px;
  font-size: 25px;
  margin-bottom: 1em;
  border: 2px solid black;
  height: 5em;
}

.bx2 {
  text-align: center;
  padding: 5px;
  padding-top: 45px;
  font-size: 25px;
  margin-top: 1em;
  border: 2px solid black;
  height: 5em;
}

.hours {
  padding-left: 12em;
  /*border: 1px solid black;*/
  font-size: 50px;
}
>>>>>>> 7085714e53a54f33dd95a8373d8efd3598fdcf1a
