<<<<<<< HEAD
body {
  padding: 10px;
}
=======
/*start of basic CSS */
>>>>>>> bc01d17ae8c2f48de23de8985dc35a007b390b03

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control, .item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 10px;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

header {
    font-size: 40px;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid black;
}

.lead {
    font-size: 150px;
    text-align: center;
}
/*End of basic CSS*/

/*the main div that surrounds the index page*/
div.primary {
    width: 80%;
    border: 1px solid black;
    padding: 25px;
    margin: auto;
    height: 2500%;
}

.num {
  /*border: 1px solid black;*/
  text-align: center;
  font-size: 2200%;
}

.bx {
  text-align: center;
  padding: 5px;
  margin-top: 5em;
  border: 2px solid black;

}
