/*
        Capstone project
        24Hours
        Authors: Gisselle Morales, Mason Roberts, Marco Tapia, Denise Son
        Date: May 15, 2017

        Filename: types.css
*/

/*general styles*/

header {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.lead {
    font-size: 150px;
    text-align: center;
    text-decoration: none;
}

body {
    padding: 20px;
}
